body{
    background-image: url('https://cutewallpaper.org/21/anime-wallpaper-gif/w-AnimeWallpapers-At-Thread-2128190.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;
}

.border{
border: solid black;
 background-color: black;
 margin-right: 550px;
 text-align: center;
 border
}

.h2{
    text-align: center;
}

.border2{
    border: solid white;
     background-color: black;
     margin-right: 550px;
     text-align: center;
     border-width:10 ;
    }

    .border3{
        border: solid black;
         background-color: black;
         margin-right: 550px;
         text-align: center;
        border-width: ;
        }

        .border4{
            border: solid white;
             background-color: black;
             margin-right: 550px;
             text-align: center;
            }

            .border5{
                border: solid black;
                 background-color: black;
                 margin-right: 550px;
                 text-align: center;
                }

                .border6{
                    border: solid white;
                     background-color: black;
                     margin-right: 550px;
                     text-align: center;
                    }