body{
    background-image: url('https://cutewallpaper.org/21/anime-wallpaper-gif/w-AnimeWallpapers-At-Thread-2128190.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;
}

.button{
    text-align: center;
    font-size: 16px;
    background-color: black;
    border: 1px solid white;
    border-width: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: black;
  <style> 
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  </style>
  <p>Styled input buttons.</p>
  
  <input type="button" value="Button">
  <input type="reset" value="Reset">
  <input type="submit" value="Submit">
}