body{
    background-image: url('https://cutewallpaper.org/21/anime-wallpaper-gif/w-AnimeWallpapers-At-Thread-2128190.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;
}
